*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/* navbar */
nav{
  z-index: 9999;
  width: 100%;
}
.fx{
    margin: auto;
}
nav .fx a:hover{
 color: blue;
}

.en img{
  height: 25px;
}

nav .logo{
  height: 30px;
}
/* carousel */

.carousel-inner .carousel-item img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("hero.jpg");
  }  

  .image-2{
    position: relative;
    bottom: 200px;
  }

  #sentmoney .title{
    position: relative;
    bottom: 190px;
  }
  #sentmoney img{
    position: relative;
    bottom: 140px;
  }

  
  /* List group*/

.xv{
  margin-left: 95px;
}
.xj{
  margin-left: 115px;
}
  /* intro */

  .intro{
    position: relative;
    top: 80px;
  }

  .intro h3{
    text-align: center;
    margin-top: 30px;
  }
   .gz{
  text-align: center;
  position: relative;
  top: 20px;
  }

  /* caracteristiques */

  .intro2{
    position: relative;
    top: 120px;
  }
  .title, p{
    text-align: center;
  }
  
  .paypal2{
    position: relative;
    top: 70px;
  }

  .video iframe{
    width:560px; 
    height: 315px;
    margin: 0px 25%;
  }

  .figure-caption{
    text-align: center;
    margin-left: 310px;
  }
 
  /* price */

  #part3{
    position: relative;
    top: 180px;
  }
 
.text h3{
  text-align: center;
}
 
 
/* banner  */

.banner-img{
  position: relative;
  top: 380px;
 background-color:  #e2e8f0;
 width: 100%;
 height: 220px;
}

.banner-img h1{
  position: relative;
  top: 45px;
  text-align: center;
}
.banner-img button{
  position: relative;
  left: 42%;
  top: 65px;
}

/* tuto-banner */

.tuto-banner{
  position: relative;
  top: 400px;
 background-color:#d1d5db;
 width: 100%;
 height: 160px;
}

.tuto-banner1{
  position: relative;
  top: 400px;
 background-color:  #a1a1aa;
 width: 100%;
 height: 160px;
}

.tuto-banner h1{
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 40px;
  right: 5px;
}

.tuto-banner button{
  position: absolute;
  bottom: 15px;
  left: 540px;
}

#sentmoney{
  position: relative;
  top: 290px;
}

#sentmoney .title2 h5{
  text-align: center;
  margin-top: 50px;
}

.image img{
  margin: 30px 0px 0px 400px;
  height: 500px;
  position: relative;
  top: 15px;
}

.image-2 img{
  margin: 280px 0px 0px 400px;
  position: relative;
}

.image-2 img{
   width: 480px;
   height: 520px;
}
#x1{
  width: 50%;   
}

.descri img{
  height: 28px;
  position: relative;
  top: 0;
}


  /* Button Scroll Top */

  #button {
    display: inline-block;
    background-color: #a8a29e;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }

/* Footer */

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #f1f5f9;
position: relative;
top: 330px;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #18181b;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #27272a;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
 
.copyright-area{
background: #202020;
padding: 25px 0;
}
 
.copyright-area p {
margin: 0;
font-size: 14px;
color: #878787;
text-align: center;
position: relative;
left: 260px;
}
.copyright-area p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}


@media (min-width: 1400px){

  .intro{
    position: relative;
    left: 0px;
  }
  .video iframe{
    width:560px; 
    height: 315px;
    margin: 0px 32%;
  }
  .figure-caption{
    text-align: center;
    position: relative;
    left: 130px;
  }
  .image-2{
    position: relative;
    bottom: 0px;
  }
  .paypal2 .text p{
    position: relative;
    left: 55px;
  }
  .image-2 img{
    position: relative;
    bottom: 250px;
  }
  #sentmoney .title{
    position: relative;
    bottom: 135px;
  }
  /*List group*/
  .xz{
    margin-left: 220px;
  }
}

/* smartphone resolution */

@media (max-width: 576px) {
  
   nav{
     width: 100%;
   }
 .slide{
   position: relative;
   top: 50px;
 }

 #part2 .transfert img{
   position: relative;
   top: 200px;
 }

 #part2 .title h3{
   position: relative;
   bottom: 180px;
 }

 #part2 .text p{
   position: relative;
   bottom: 180px;
 }

 .image-2{
  position: relative;
  bottom: 0px;
}

.image-2 .carousel-item img{
  height: 420px;
}

 /*List group*/

 .xv, .xj{
 margin-left: 0px;
 }

 .image img{
  height: 300px;
  margin: 15px;
 }

 .paypal2 .text{
   margin-top: 3px;
 }

 .video{
   margin-right: 48px;
   position: relative;
   top: 10px;
 }
 .video iframe{
  width:200px; 
  height: 180px;
}
.figure-caption{
display: none;
}
.paypal2 .text p{
  position: relative;
  left: 0px;
}
.single-cta{
  padding: 30px 0 ;
}

.copyright-area .text-lg-left p{
  position: relative;
  left: 0px;
}

.image-2 img{
  margin: 50px 0px 0px 10px;
  position: relative;
  bottom: 150px;
}

.image-2 img{
   width: 320px;
   height: 720px;
}
#x1{
  width: 50%;   
}

#sentmoney .title{
  position: relative;
  bottom: 55px;
}

.descri img{
  height: 28px;
}
#sentmoney .title{
  position: relative;
  bottom: 0px;
}
.image img{
  position: relative;
  bottom: 0px;
}

.carousel-control-prev, .carousel-control-prev{
  position: relative;
  
}

}
